  
  .content {
    flex: 1;
  }
  
  .footer {
    background: linear-gradient(to bottom, #000, #535353);
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  
  .polygon-overlay {
    background-color: red;
    opacity: 0.5;
    pointer-events: none;
    /* Overlay is not clickable */
  }
  
  #imageContainer {
    position: relative;
    user-select: none;
  }
  
  
  #imageContainer::-webkit-scrollbar {
    height: 5px;
    border-radius: 20px;
    background-color: #f0f0f0;
  
  
  
  
  }
  
  #imageContainer::-webkit-scrollbar-thumb {
    background-color: rgba(41, 40, 40, 0.8);
  
    border-radius: 20px;
  
  }
  
  #imageContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #carImage {
    position: relative;
    top: 0;
    left: 0;
  }
  
  #overlayCanvas {
    position: absolute;
    margin-right: 100px;
    top: 0;
    left: 0;
    pointer-events: none;
  
  }
  
  .pointer-cursor {
    cursor: pointer;
  }
  
  /*Scaling*/
  @media (max-width: 968px) {
    #imageContainer {
      overflow-y: hidden;
      overflow-x: scroll;
    }
  }
  
  @media (min-width: 969px) {
    #imageContainer {
      overflow: hidden;
    }
  }
  
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  
    #repairForm {
      margin-top: 20px;
      /* Add some space between imageContainer and repairForm */
    }
  }
  
  .paragraph {
    margin-top: 10px;
  
  }
  
  body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins"
  }

  *{
    font-family: "Poppins"
  }

  .wrapper {
    flex: 1;
  }
  
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff;
    /* Change the text color on hover */
  }
  
  /* Style the validation popup message */
  #password:invalid::after {
    content: 'Password must have at least 5 characters, at least 1 capital letter, and at least 1 special character.';
    /* Custom error message */
    display: block;
    color: red;
    font-size: 0.8em;
  }
  
  
  #scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #222;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #scroll-to-top-btn:hover {
    background-color: #555;
  }
  
  
  /* Add this style for the sliding animation */
  .slide-in-out {
    animation: slideInOut 5s ease-in-out;
    display: none;
    /* Initially hide the element */
  }
  
  @keyframes slideInOut {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .custom-divider {
    background-color: #888;
    height: 1px;
    position: relative;
    top: 50%;
  }
  
  .nodisplay {
    display: none;
  }
  
  .text-red {
    color: rgb(255, 0, 0) !important;
  }
  
  .text-red:hover {
    color: rgb(255, 0, 0) !important;
  }
  
  .custom-alert {
    z-index: 99;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    width: 300px;
  }
  
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
  }
  
  
  .mx-80 {
    max-width: 80%;
  }
  
  .mix-40 {
    min-width: 40%;
  }
  
  /* Define the animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  /* Apply animation to elements */
  .fade-in {
    animation: fadeIn 1s ease forwards;
  }
  
  /* Hide initially */
  .fade-in-hidden {
    opacity: 0;
  
  }
  
  /*calendar*/
  .calendar {
    width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  
  .day {
  
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 35px !important;
    height: 35px !important;
    margin: 2px;
  
  }
  
  .currentMonth {
    background-color: #f0f0f0;
    color: #333;
  
  }
  
  .prevMonth,
  .nextMonth {
    color: #fff;
    font-weight: 500;
    background-color: #fff;
  }
  
  .prevDay {
    background-color: #bababa;
  }
  
  .takenDay {
    background-color: #bababa;
  }
  
  .outline {
    border: 2px solid #000;
  }
  
  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
  }
  
  .menu.visible {
    display: block;
  }
  
  
  .small-font {
    font-size: 0.74rem;
    /* Adjust the font size as needed */
  }
  
  
  
  .time-button {
    background-color: #ffffff00;
    min-width: 90px;
  }
  
  /* Style for the active class */
  .time-button.active {
    background-color: #007bff;
    /* Change background color to blue */
    color: #fff;
    /* Change text color to white */
  }
  
  .weekend {
    color: #000000;
    font-weight: bold;
    background-color: #e46060 !important;
  }
  
  
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    /* Change the color here */
  }
  
  #scrollIndicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.5;
  }
  
  #repairForm {
    font-size: 1.1em;
    /* Adjust the font size as needed */
  }
  
  
  
  #repairForm .form-check-input[type="checkbox"] {
    transform: scale(1.5);
    /* Adjust the scale as needed here */
    margin-right: 10px;
    /* Adjust the margin as needed here */
  
  }
  
  
  td {
    word-wrap: break-word;
    white-space: pre-wrap;
    /* Ensures that long text wraps properly */
    max-width: 500px;
    /* Adjust width as needed */
  }
  
  #sidebar {
    height: 90vh;
    /* Full height */
    position: absolute;
    /* Sticky to the left */
    top: 122px;
    left: 0;
    overflow-y: auto;
  
    background-color: #343a40;
    /* Dark background */
    max-width: 15%;
  }
  
  #sidebar h3,
  #sidebar h5 {
    color: #ffffff;
  }
  
  #sidebar .btn-outline-secondary {
    border-color: #ffffff;
  }
  
  #sidebar .btn-outline-secondary:hover {
    background-color: #6c757d;
    /* Lighter background on hover */
  }
  
  .d-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Spacing between buttons */
  }
  
  
  @media (max-width: 500px) {
  
    /* Adjust the max-width as needed */
    #sidebar {
      max-width: 100%;
      /* Make it full width on mobile */
      width: 100%;
      /* Ensure it takes full width */
      position: relative;
      /* Change to relative for mobile view */
      top: 0;
      /* Reset top position */
      height: auto;
      /* Let it grow with content */
    }
  }
  
  select option:disabled {
    color: black;
  }
  

  
  .carousel-control-prev {
    left: -5.8%;
}

.carousel-control-next {
    right: -5.8%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(54, 52, 52);
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-size: 50%;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    height: 22vw;
    transition: transform 0.5s ease-in-out;

}
.carousel-indicators{
    margin-bottom: 1%;
}

.service-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.service-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.service-item a:hover .rounded {
  box-shadow: 0 4px 15px rgba(121, 121, 121, 0.333);
  transform: translateY(-5px);
  background-color:rgba(0, 0, 0, 0.1)
}

.service-item a:hover {
  text-decoration: none;
}

.overlay-text {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2vw;
}


.carousel-indicators .btn {
    margin-left:5px;
    border-color: #6d6e6e9c; /* Change border color to match theme */
    width: 20px;
    height: 20px;
    border-radius: 100%;

    background-color: #0000005b; /* Change background color to match theme */
    transition: background-color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.carousel-indicators .btn:hover {
    background-color: #979797; /* Darker shade on hover */
    transform: scale(1.2); /* Slightly enlarge on hover */
}

.carousel-indicators .btn.active {
    background-color: #c0c0c0c9; /* Darker shade for active state */
}
@media (max-width: 768px) {
    .carousel-inner {
        flex-wrap: nowrap;
        display: flex;
    }

    .overlay-text {
        font-size: 1vw;
        /* Fixed font size */
        bottom: 5px;
    }

    .service-item {
        min-width: 32%;
    }
}

@media (max-width: 480px) {
    .service-item {
        min-width: 32%;
    }

    .carousel-inner {

        flex-wrap: nowrap;
        display: flex;
    }

    .overlay-text {
        font-size: 1vw;
        /* Fixed font size */
        bottom: 5px;
    }
}

#carousel {
    height: 20vw;
}

.faq-container {
  max-width: 1000px;
  margin: 0 auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* FAQ Question Styling */
.faq-question {
  position: relative;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1e1e1e;
  color: #dadada;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;

  border: 2px solid #444; /* Border color */


}

.faq-question:hover {
  background-color: #2c2c2c;
}

/* Arrow Styling */
.arrow {
  transform: scaleX(1.5); 
  font-size: 18px;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg) scaleX(1.5);
}


.nodisplay {
  display: none;
}

/* FAQ Answer Styling */
.faq-answer {
  display: none;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1e1e1e;
  border-radius: 0 0 5px 5px;
  color: #9a9b9c;
}

.faq-answer.active {
  display: block;
}

.divider.active {
  display: block;
}
.divider {
  height: 1px;
  background-color: #9a9b9c;
  margin: 10px 0;
}

.news-section, .how-we-work-section, .work-hours-section {
  padding: 20px;
  background-color: #121212;
  color: #9a9b9c;
  border-radius: 8px;
  max-width: 1000px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.news-section-title, .work-section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-style: italic;
}

.work-section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}


/* News Item Styling */
.news-item, .work-item {
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.news-title {
  padding: 0  px 5px;
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00;
}

.news-details, .work-details {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1e1e1e;
  border-radius: 0 0 5px 5px;
  color: #d1d1d1;
}

/* Appointment Container */
.appointment-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: stretch;  /* Allow children to stretch naturally */
  justify-content: flex-start;
  padding:50px;
  height: auto;
  overflow: visible;
  min-height: calc(100vh - 101px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(24, 24, 24));
  color: #ffffff;
}


/* Appointment Container */
.appointment-content {
  width: 80%;
  min-width: 80%;
  padding: 30px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: left;
  height: auto; /* Ensures it grows to fit content */
  overflow: visible; /* Ensures no scrollbars are shown */
}


/* Settings Container */
.settings-container {
  display: flex;
  align-items: top;
  justify-content: center;
  padding:50px;
  height: calc(100vh - 101px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(24, 24, 24));
  color: #ffffff;
}

/* Settings Container */
.settings-content {
  width: auto;
  min-width:35%;
  height:435px;
  padding: 30px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.form-control-select {
  height:auto;
  display: flex;
  justify-content: space-between;
}

/* Profile Container */
.profile-container {
  display: flex;
  align-items: top;
  justify-content: center;
  padding:50px;
  height: calc(100vh - 101px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(24, 24, 24));
  color: #ffffff;
}

/* Profile Content */
.profile-content {
  width: auto;
  min-width:30%;
  height:375px;
  padding: 30px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: left;
}

/* Profile Title */
.profile-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #f1f1f1;
}

/* Profile Info */
.profile-info {
  margin-bottom: 20px;
}

.profile-item {
  margin-bottom: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-label {
  font-weight: bold;
  color: #ddd;
}

.profile-value {
  color: #f1f1f1;
}

  /* Profile Content */
  .password-edit-container {
      width: auto;
      min-width:30%;
      height:450px;
      padding: 30px;
      background-color: rgba(40, 40, 40, 0.9);
      border-radius: 15px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
      text-align: left;
    }

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-account-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-account-button:hover {
  background-color: #b02a37;
}

/* Form Styling */
.hidden-form {
  display: none;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.btn-submit {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #218838;
}

.btn-cancel {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: #5a6268;
}

/* Error Messages */
.error-message {
  font-size: 0.9rem;
  color: #dc3545;
  display: none;
}

.hidden-visibility {
  visibility: hidden;
}
.visible-visibility {
  visibility: visible;
}


.service-list {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top: 20px;
}

.service-page-item {
  flex:0 0 30%;
  margin: 10px ;
  padding: 20px;
  background-color: #343a40;
  border-radius: 5px;
  text-align:center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-page-item:hover {
  background-color: #495057;
}

.service-page-list a {
  text-decoration: none;
  color: #ffffff;
}

.service-page-list a:hover {
  text-decoration: none;
  color: #ffffff;
}

.service-page-list i {
  font-size: 2rem;
  margin-bottom:10px;
}