<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="manifest" href="/js/manifest.json">
    <!-- Local bootstrap.js-->
    <script src="/js/bootstrap.js" nonce="<%= nonce %>"></script>>
    <!-- Global bootstrap js-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
        nonce="<%= nonce %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        nonce="<%= nonce %>"></script>


</head>

<body>
    <div id="customRegisterWorker" class="custom-alert nodisplay">
        <h2>Succesfully registered worker</h2>
    </div>
    <div id="customAdminPerms" class="custom-alert nodisplay">
        <h2>Succesfully gave administrator permissions</h2>
    </div>
    <div>
        <div class="container my-4  bg-light mx-80" style="float:right; margin-right:3%">
            <h2 class="text-center mb-4 text-white" id="TitleHeader">Projects</h2>
            <div class="container-fluid">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-lg-2 col-md-4 col-sm-12 bg-light p-4 d-flex flex-column justify-content-start"
                        id="sidebar">
                        <h3 class="text-center mb-4 text-white ">Admin Panel</h3>
                        <!-- Users Section -->
                        <h5 class="text-white text-center">Users</h5>
                        <div class="d-grid gap-3 mb-4">
                            <button id="findUserByEmail" class="btn btn-outline-secondary text-white">View user by
                                Email</button>
                            <button id="findUserByID" class="btn btn-outline-secondary text-white">View user by
                                ID</button>
                            <button id="viewActiveUsers" class="btn btn-outline-secondary text-white">View all active
                                users</button>
                            <button id="viewAllUsers" class="btn btn-outline-secondary text-white">View all
                                users</button>
                            <button id="viewAdmins" class="btn btn-outline-secondary text-white">View admins</button>
                            <button id="viewWorkers" class="btn btn-outline-secondary text-white">View workers</button>
                            <button id="addWorkerForm" class="btn btn-outline-secondary text-white">Add worker</button>
                        </div>

                        <!-- Divider -->
                        <hr class="text-white">

                        <!-- Projects Section -->
                        <h5 class="text-white text-center">Projects</h5>
                        <div class="d-grid gap-3 mb-4">
                            <button id="findProjectByID" class="btn btn-outline-secondary text-white">View projects by
                                ID</button>
                            <button id="viewDelayedProjects" class="btn btn-outline-secondary text-white">View delayed
                                projects</button>
                            <button id="viewActiveProjects" class="btn btn-outline-secondary text-white">View active
                                projects</button>
                            <button id="viewFinishedProjects" class="btn btn-outline-secondary text-white">View finished
                                projects</button>
                        </div>
                    </div>

                    <div style="overflow-x: auto;" id="ProjectDataContainer"
                        class="table-responsive text-white nodisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="align-middle" scope="col" data-column="idProject">Project ID</th>
                                    <th class="align-middle" scope="col" data-column="idUser">Username</th>
                                    <th class="align-middle" scope="col" data-column="StartDate">Start Date</th>
                                    <th class="align-middle" scope="col" data-column="EndDateProjection">Projected
                                        End
                                        Date
                                    </th>
                                    <th class="align-middle" scope="col" data-column="ProjectInfo">Project Info</th>
                                    <th class="align-middle" scope="col" data-column="Delayed">Delay Status</th>
                                </tr>
                            </thead>
                            <tbody id="project-table-body">
                                <!-- Appointment data will be injected here -->
                            </tbody>
                        </table>
                    </div>

                    <div style="overflow-x: auto;" id="userDataContainer" class="table-responsive text-white nodisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>

                                    <th class="align-middle" scope="col">User ID</th>
                                    <th class="align-middle" scope="col">Name</th>
                                    <th class="align-middle" scope="col">UserName</th>
                                    <th class="align-middle" scope="col">Email</th>
                                    <th class="align-middle" scope="col">Check Projects</th>
                                </tr>
                            </thead>
                            <tbody id="user-table-body">
                                <!-- Appointment data will be injected here -->
                            </tbody>
                        </table>
                    </div>

                    <div style="overflow-x: auto;" id="adminDataContainer"
                        class="table-responsive text-white nodisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="align-middle" scope="col">Admin ID</th>
                                    <th class="align-middle" scope="col">Name</th>
                                    <th class="align-middle" scope="col">UserName</th>
                                    <th class="align-middle" scope="col">Email</th>
                                    <th class="align-middle" scope="col">Tenure</th>
                                    <th class="align-middle" scope="col">AdminTenure</th>
                                    <th class="align-middle" scope="col">Worker type</th>
                                    <th class="align-middle" scope="col">Manage administrator status</th>
                                </tr>
                            </thead>
                            <tbody id="admin-table-body">
                                <!-- Appointment data will be injected here -->
                            </tbody>
                        </table>
                    </div>

                    <div style="overflow-x: auto;" id="workerDataContainer"
                        class="table-responsive text-white nodisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="align-middle" scope="col">Worker ID</th>
                                    <th class="align-middle" scope="col">Name</th>
                                    <th class="align-middle" scope="col">UserName</th>
                                    <th class="align-middle" scope="col">Email</th>
                                    <th class="align-middle" scope="col">Tenure</th>
                                    <th class="align-middle" scope="col">Worker type</th>
                                    <th class="align-middle" scope="col">Manage administrator status</th>
                                </tr>
                            </thead>
                            <tbody id="worker-table-body">
                                <!-- Appointment data will be injected here -->
                            </tbody>
                        </table>
                    </div>
                    <div style="overflow-x: auto;" id="inputNewEndDate" class="table-responsive bg-light nodisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2" class="text-center text-white">
                                        Choose the new end date for project: ID_<span id="project_id"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle text-white" style="width: 50%;">
                                        <p><strong>!WARNING!</strong></p>
                                        <p>If the project isn't yet tagged as delayed, it will be after any changes to
                                            the end date time.</p>
                                    </td>
                                    <td class="align-middle" style="width: 50%;">
                                        <div class="d-flex flex-column align-items-center">
                                            <input style="width: 80%;" type="datetime-local" id="dateinput"
                                                class="form-control text-center mb-2">
                                            <button id="changeEndTimeButton"
                                                class="btn btn-outline-primary mt-2">Change</button>
                                        </div>

                                    </td>
                                </tr>
                                <tr id="InvalidDateTime" class="nodisplay">
                                    <td colspan="2" class="text-center">
                                        <span style="color:rgb(255, 0, 0)"><b>Invalid end time</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="searchUser" class="col-sm-3 m-auto text-center nodisplay">
                        <span id="InvalidID" class="nodisplay" style="color:rgb(255, 0, 0)"><b>Invalid ID</b></span>
                        <input type="text" id="userIDInput" class="form-control" placeholder="Enter User ID">
                        <button class="btn btn-outline-primary mt-2" id="searchUserButton">Search</button>
                    </div>

                    <div id="searchUserByEmail" class="col-sm-4 m-auto text-center nodisplay">
                        <span id="InvalidEmail" class="nodisplay" style="color:rgb(255, 0, 0)"><b>Invalid Email</b></span>
                        <input type="text" id="userEmailInput" class="form-control" placeholder="Enter User's email">
                        <button class="btn btn-outline-primary mt-2" id="searchUserByEmailButton">Search</button>
                    </div>

                    <div id="searchProject" class="col-sm-3 m-auto text-center nodisplay">
                        <span id="InvalidProjectID" class="nodisplay" style="color:rgb(255, 0, 0)"><b>Invalid
                                ID</b></span>

                        <input type="text" id="ProjectIDInput" class="form-control" placeholder="Enter Project ID">
                        <button class="btn btn-outline-primary mt-2" id="searchProjectButton">Search</button>
                    </div>


                    <div class="col-md-3  bg-light text-white m-auto nodisplay " style="max-width:20%"
                        id="registrationForm">
                        <form class="mt-3">

                            <label id="email-red" for="email">Email:</label>
                            <span class="ml-1 nodisplay" id="NoAccount" style=" color:rgb(255, 0, 0)"><b> - Account
                                    doesnt
                                    exsist</b></span>
                            <span class="ml-1 nodisplay" id="WorkerExsists" style=" color:rgb(255, 0, 0)"><b>- User
                                    is
                                    already a
                                    worker</b></span>
                            <input class="form-control" type="email" id="email" name="email" required><br>

                            <label for="workerType">Worker Type:</label>
                            <input class="form-control" type="text" id="workerType" name="workerType" maxlength="45"
                                required>

                            <input class="mt-3" type="checkbox" id="administrator" name="administrator">
                            <label for="administrator">Administrator</label><br>

                            <button id="submitButton" class="btn btn-secondary btn-block mt-2 mb-4"
                                type="submit">Register
                                worker</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script src="/js/Admin.js" nonce="<%= nonce %>"></script>
</body>

</html>