<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">

      

    <script src="/js/bootstrap.js" nonce="<%= nonce %>"></script>
</head>

<body>
    <div id="customAppointmentAlert" class="custom-alert nodisplay">
        <h2>Appointment registered successfully</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center text-white mt-3">
            <div class="col-md-6 bg-light p-3 rounded">
                <h1 class="text-center mb-3">Appointment Booking</h1>
                <form id="appointmentForm">
                    <div class="form-group">
                        <label for="repairType">Type of Repair</label>
                        <select class="form-control" id="repairType" name="repairType" required>
                            <option tabindex="1" value="1">Oil change</option>
                            <option tabindex="2" value="120">Paint job</option>
                            <option tabindex="3" value="4">Overall checkup or tuning</option>
                            <option tabindex="4" value="4">Custom parts</option>
                            <option tabindex="5" value="1">Project discussion</option>
                        </select>
                    </div>
                    <label for="repairType" class="text-white">Choose a day</label>
                    <div class="container text-dark">
                        <div class="row justify-content-center ">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-header row">
                                        <button id="prevMonth" class="btn btn-outline-secondary m-auto">&lt;</button>
                                        <h3 tabindex=0 id="monthYear" class="m-auto"></h3>
                                        <button id="nextMonth" class="btn btn-outline-secondary m-auto">&gt;</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="daysOfWeek">
                                            <!-- Days of the week will be appended here -->
                                        </div>
                                        <div class="row" id="calendar">
                                            <!-- Calendar will be appended here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="selectable" id="time-container">
                        <!-- Choices for time will dynamically appear here-->
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="additionalInfo">Car info / Additional info</label>
                        <textarea class="form-control" id="additionalInfo" name="additionalInfo" rows="2"
                            placeholder="Enter a vehicle description and any other information about the appointment"
                            maxlength="255" required></textarea>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-outline-secondary ">Make Appointment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script nonce="<%= nonce %>">const csrfToken = "<%= csrfToken %>";</script>
    <script src="/js/Appointment.js" nonce="<%= nonce %>"></script>
</body>

</html>
