<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Goodbye</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="goodbye-page">
    <h1 class="goodbye-heading">We’re sorry to see you go!</h1>
    <p class="goodbye-text">Your account has been successfully deleted.</p>
    <h2><a href="/" class="btn goodbye-btn">Return to Homepage</a></h2>
  </div>
</body>
</html>