<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="manifest" href="/js/manifest.json">
    <!-- Local bootstrap.js-->
    <script src="/js/bootstrap.js" nonce="<%= nonce %>"></script>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <style>
        body {

            background-image: url('/images/main_image2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            height: 300px;
            margin: 0;
            background-color: #000000;
            color: #000000;
        }


        .position-relative {
            position: relative;
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100px;
        }

        .dropdown-hover:hover .dropdown-menu {
            display: block;
        }

        /* Additional styling for menu items */
        .dropdown-item {
            color: white;
        }

        .dropdown-item-logout {
            background-color: transparent;
            color: red;
        }
    </style>
</head>

<body>
    <div class="position-relative">
        <!-- Header navigation -->
        <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="/images/Icon_gradiant.png" alt="Auto Repair Service icon"
                    width="150" height="75"></a>

            <button class="navbar-toggler navbar-dark bg-gray" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link h3 mr-2 text-light" href="/">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h3 mr-2 text-light" href="/AboutUs">About us</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item nodisplay" id="estimatorButton">
                        <a class="nav-link h3 mr-2 text-light" href="/Estimator">Price Estimator</a>
                    </li>
                    <li class="nav-item nodisplay" id="timeTableButton">
                        <a class="nav-link h3 mr-2 text-light" href="/Appointments"> Make Appointment</a>
                    </li>

                    <li class="nav-item nodisplay" id="workerButton">
                    <li class="nav-item dropdown  dropdown-hover nodisplay" id="WorkerButtonDropDown">
                        <a class="nav-link h3 mr-2 text-light dropdown-toggle" alt="Click or press enter to expand"
                            href="/worker/WorkerPage#searchTodaysProjects" id="accountDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Check Appointments
                        </a>
                        <div class="dropup dropdown-menu " aria-labelledby="accountDropdown">
                            <a class="dropdown-item text-white" href="/worker/WorkerPage#searchTodaysProjects">View
                                projects to be finished today</a>
                            <a class="bg-gray dropdown-item text-white"
                                href="/worker/WorkerPage#searchDelayedProjects">View delayed projects</a>
                            <a class="bg-gray dropdown-item text-white"
                                href="/worker/WorkerPage#searchActiveProjects">View active projects</a>
                        </div>
                    </li>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="LoginButton">
                        <a class="nav-link h3   mr-2 text-light" href="/Login">Login</a>
                    </li>
                    <li class="nav-item dropdown  dropdown-hover nodisplay" id="LogOutButton">
                        <a class="nav-link h3 mr-2 text-light dropdown-toggle" alt="Click or press enter to expand"
                            href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropup dropdown-menu " aria-labelledby="accountDropdown">
                            <a class=" dropdown-item text-white" href="/auth/Profile">Account Info</a>
                            <a class=" bg-gray dropdown-item text-white " href="/auth/UserAppointment">Appointments</a>
                            <a class=" bg-gray dropdown-item text-white " href="/auth/Settings">Settings</a>
                            <a id="AdminMenu" class=" bg-gray dropdown-item text-white nodisplay "
                                href="/admin/admin-dashboard">Admin panel</a>
                            <a id="Statistics" class=" bg-gray dropdown-item text-white nodisplay "
                                href="/admin/Statistics">Statistics</a>
                            <div class="bg-gray" style="height:20px">
                                <div class=" custom-divider"></div>
                            </div>
                            <a tabindex=0 class=" bg-gray dropdown-item-logout text-red " style="cursor: pointer;"
                                id="Log-out-button">Log Out</a>
                        </div>
                    </li>

                    <a class="nav-link h3 mr-2 text-light" href="/SignUp" id="SignUpButton">Sign Up</a>
                    </li>

                </ul>
            </div>
        </nav>

    </div>
    <div id="scroll-to-top-btn" style="z-index:1000; display:none">↑</div>
</body>
<script src="/js/header.js" nonce="<%= nonce %>"></script>

</html>