<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="manifest" href="/js/manifest.json">

  <!-- Statistics display js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="<%= nonce %>"></script>

</head>
<style nonce="<%= nonce %>">
  /* Center the text inside the chart */
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .customContainer{
    min-width:300px;
  }
  .gapcontainer{
    gap:20px;
  }
</style>

<body>

  <div class="container-fluid">
    <div class="row justify-content-center mt-5 gapcontainer"> <!-- Added 'justify-content-center' and 'gap' for better alignment and spacing -->
      <!-- User Statistics Container -->
      <div id="UserStatisticsContainer" class="col-lg-5 bg-light p-4 customContainer" >
        <!-- User data will be dynamically added here -->
        <div class="chart-container">
          <canvas id="userStatisticsChart"></canvas>
          <!-- User cards will be dynamically added here -->
        </div>
      </div>
  
      <!-- Project Statistics Container -->
      <div id="ProjectStatisticsContainer" class="col-lg-5 bg-light p-4 customContainer" >
        <div class="chart-container">
          <canvas id="projectStatisticsChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/js/Statistics.js" nonce="<%= nonce %>"></script>

</body>

</html>